*{
    margin:0px;
    padding:0px;
    box-sizing: 0;
}

@font-face {
    font-family:"UWBEncodeSansNarrow, sans-serif";
    src: url(C:\Users\joshn\OneDrive\Documents\HTML\Practice\code1\fonts\EncodeSansNarrow-700-Bold.ttf);
}

/* This is for the purple band with the logo, "Bothell" and search button. */
.header-box{
    border:01px solid #4b2e83;
    background-color: #4b2e83;
    height:55%;
    margin-top: 0px;
    padding: 0px;
    text-align: left;
    margin-bottom: 2px;
}

.logo{
    padding-top:15px;
    margin-left: 15%;
    padding-right: 0px;
}

.bothell{
    padding-bottom: 19px;
    padding-left: 0px;
    margin-right: 0%;
}

.searchButton{
    padding-right:15px;
    padding-top: 0px;
    margin-right:5px;
    float: right;
}

/* School of Science, Tech, Engn,&Math box */
.schoolHeader{
    display: block;
    box-sizing: border-box;
    box-shadow: black;
    border: 10px;
    border-color: black;
    height:80px;
    background-color:white;
    margin: 0;
    display: flex;
    flex-direction: row;
    border-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* School of Science, Tech, Engn,&Math box text */
.schoolText{
    font-size: 36px;
    font-weight:bolder;
    color: #4b2e83;
    margin: 5px;
    margin-left: 55px;
    font-family:Arial, Helvetica, sans-serif;
}

/*  */
.list{
    box-sizing: border-box;
    color: black;
    display: block;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 30px;
    padding-top: 15px;
    font-size: 15px;
    font-weight: bold;
    color: #4b2e83;
    width:auto;
    margin:0px;
    text-align: center;
}

#abt:hover{
    text-decoration:underline;
    color:#85754d;
}

#grad:hover{
    text-decoration:underline;
    color:#85754d;
}

#fac:hover{
    text-decoration:underline;
    color:#85754d;
}

#stf:hover{
    text-decoration:underline;
    color:#85754d;
}

#ind:hover{
    text-decoration:underline;
    color:#85754d;
}

#event:hover{
    text-decoration:underline;
    color:#85754d;
}

#news:hover{
    text-decoration:underline;
    color:#85754d;
}

#rsch:hover{
    text-decoration:underline;
    color:#85754d;
}

#give:hover{
    text-decoration:underline;
    color:#85754d;
}

/* big grey box on the background */
.bodybox {
    font-family: Arial, sans-serif;
    width: 100%;
    /* line-height: 1.6; */
    margin: 0;
    padding: 0;
    background-color: white;
    float: right;
}

/* main container with details */
.container {
    width: 70%;
    margin: auto;
    overflow: hidden;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    float: right;
}

/* Name */
h1 {
    color: #4b2e84;
            font-family: var(sans-serif);
            /* font-size: clamp(2.5rem, calc(1rem + 6vw), 3.125rem); */
            font-size: 40px;
            font-weight: 800;
            letter-spacing: 0.8px;
}

section {
    margin-bottom: 20px;
}

h3 {
    color: #4b2e83;
    padding-bottom: 5px;
    font-size: clamp(1.125rem, calc(1rem + 4vw), 1.5625rem);
    font-weight: 800;
    letter-spacing: 0.67px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.bio-container {
    display: flex;
    align-items: center;
}

.bio-container img {
    margin-right: 20px; 
}

.bio-content {
    flex: 1;
}